<!DOCTYPE HTML>
<html>
	<head>
		<title>aposTrophy - Log In</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="icon" type="image/png" href="/static/img/favicon.ico">
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery/dist/jquery.js"></script>
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-desktop.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

        <script src="/static/js/core/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        <style>
         form {
            width: 300px;
            margin: 0 auto;
        }
        </style>
        
	</head>

	<body id="top">

		<!-- Header -->
        <div id="header">
            <div class="container">
                <!-- Logo -->
                <div id="logo">
                    <h1><img src="/static/img/trophy.png" width="50px"><a href="/">aposTrophy</a></h1>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                            <li><a href="/">Home</a></li>
                        <li class="active"><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                    </ul>
                </nav>
            </div>
        </div>

		<!-- Main -->
			<div id="main">
                {% block content %}
                    <div class="container">
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                        <div class="alert alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endblock %}

				<div class="container">
                    <div class="container">
<center><span style="font-size: 40px !important; color: #D83A4A;">Login</span></center>
                    <br>
						<!-- Content -->
							<div id="content" class="12u">
								<section>
						  <form class="form-signin"
                                {% if redir %}
                                action="/login?redir={{ redir }}"
                                {% else %}
                                  action="/login"
                                {% endif %}
                                method="post">
							<!-- Basic Demographic Fields -->
									<div class="row 50%">
									<div class="12u">
										<input type="text" name="inputEmail" id="inputEmail" placeholder="Email address" />
									</div>
                              </div>
                              <div class="row 50%">
									<div class="12u">
										<input type="password" name="inputPassword" id="inputPassword" placeholder="Password" />
									</div>
                              </div>
										<div class="row 50%">
                                            <div class="12u">
												<input id="btnLogIn" class="button big alt" type="submit" value="Log In">
											</div>
                                        </div>
									</form>
								</section>
							</div>
					</div>
            </div>
        </div>
			
		<!-- Copyright -->
			<div id="copyright">
				<a href="#top" class="bubble-top scrolly">Top</a>

				<div class="container">
					<div class="row">
						<div class="6u">
							<span>Copyright &copy; aposTrophy. All rights reserved.</span>
						</div>
						<div class="6u">
							<ul class="social">
								<li><a href="#" class="icon fa-twitter"><span>Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span></span></a></li>
								<li><a href="#" class="icon fa-envelope"><span>Google+</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>